body{
    overflow-x: hidden;
    background: linear-gradient(to right, #002D62, pink);
}

.loading{
    color:white;
}
#contact-header{
    text-align: center;
    padding:20px;
    font-weight: 800;
    color:white;
    font-family: cursive;
    margin-left:45px;
    text-shadow: 2px 2px red;
}

.edit-header{
    text-shadow: 2px 2px blue;
    text-align: center;
    padding:20px;
    font-weight: 800;
    color:white;
}

.add-header{
    text-shadow: 2px 2px green;
    text-align: center;
    padding:20px;
    font-weight: 800;
    color:white;
    font-family: cursive;
}

table td{
    border-collapse: collapse;
    text-align: center;
    background-color:silver;
    border-radius:20px;
    box-shadow: inset 4px 4px 6px white;
}

table td:nth-child(1){
    padding:0;
    width:0;
    background-color: transparent;
    box-shadow: none;
}

table td:nth-child(2){
    width:45%;
}

table td:nth-child(3){
    width:45%;
    background-color: lightblue;
}

table{
    width:50rem;
    border-collapse: separate !important;
    border-spacing: 10px;
    font-weight:bold;
    font-family: cursive;
}

table img{
    border-radius:50%;
    width:5rem;
    height: 4rem;
}

#table{
    display: flex;
    justify-content: center;
}

#refresh{
    text-align: center;
    width:23rem;
    border:none;
    color:white;
    font-weight:700;
    font-family: cursive !important;
    background-color: coral;
}

#addContact{
    text-align: center;
    width:23rem;
    border:none;
    padding: 10px;
    color:white;
    font-weight:700;
    font-family: cursive !important;
    background-color: coral;
}

#refresh:hover, #addContact:hover {
    color:black;
}

.button-container{
    display:flex;
    background-color: coral;
    justify-content: center;
    width:50rem;
    margin: 0 auto;
    justify-content: space-evenly;
    width:49%;
    margin: 20px 0;
    justify-self: center;
    border-radius: 20px;
    margin-bottom: 50px;
}

#form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center !important;
}

#avatarImage img{
    width:24rem;
    height:14rem;
    border-radius:20px;
}

#editForm {
    display: grid;
    grid-template-columns:2fr 5fr; 
    gap: 5px 0; 
    width:25rem;
    margin-top: 50px;
}

#editForm label {
    box-sizing: content-box !important; 
    padding:0;
    font-weight: 500;
    color:white;
}

#editForm input { 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

#editForm button{
    margin-bottom: 20px;
    border-radius: 5px !important;
    padding: 5px 0 !important;
    width:100%;
    color:white;
    background-color: green;
    box-shadow: inset 2px 2px 5px darkgreen;
    border:none !important;
}

.button-container2{
    display:flex;
    width: 100%;
    justify-content: center;
}

.button-container2 #homeLink, #editContact, #deleteContact{
    text-align: center;
    width:12rem;
    background-color: silver;
    border: 0.5px solid gray;
    padding: 5px 10px;
    box-shadow: inset 2px 2px 4px white !important;
    color:#333333;
    font-weight:700;
    font-family: cursive !important;
}

.button-container2 #homeLink{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.button-container2 #deleteContact{
     border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button-container3{
    display: flex;
    width:5rem;
    justify-content: center;
    width:25%;
    justify-content: flex-end;
}

.home-btn{
    text-align: center;
    width:100%;
    background-color: silver;
    border: 0.5px solid gray;
    padding: 5px 10px;
    box-shadow: inset 2px 2px 4px white !important;
    color:black;
    font-weight:700;
    font-family: cursive !important;
    border-radius: 5px;
}
